body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #134B70;
  }
  .progressbar-container {
    width: 200px;
    height: 200px;
    margin: 100px auto;
  }
  
  .progressbar-container .outer-box {
    background-color:  #508C9B;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .progressbar-container .inner-box {
    background-color: #EEEEEE;
    font-size: 24px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .progressbar-container svg {
    position: absolute;
  }
  
  .progressbar-container circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
  
    animation: loading 10s linear forwards;
  }
  
  @keyframes loading {
    100% {
      stroke-dashoffset: 0;
    }
  }